@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "News";
}


<div class="card shadow border-primary mt-5 mb-3">
    <div class="card-header bg-primary text-light h5 p-4">
        <div class="row align-items-center">
            <div class="col-6">
                <h3 class="ps-2">
                    <i class="bi bi-newspaper"></i>
                    News
                </h3>

            </div>
            <div class="col-6 text-end">
                <a class="btn btn-success" asp-controller="News" asp-action="Create"> <i class="bi bi-plus-circle me-2"></i>Add News</a>
            </div>
        </div>



    </div>
    <div class="card-body text-secondary">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-center">Publication Date</th>
                    <th class="text-center">Creation Date</th>
                    <th class="text-center">Author Name</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var news in Model)
                {
                    <tr class="text-@(news.PublicationDate > DateTime.Now ? "warning" : "success")">
                        <td class="fw-bold">
                            @news.Title
                        </td>
                        <td class="text-center ">@news.PublicationDate.ToString("d/M/yyyy")</td>
                        <td class="text-center ">@news.CreationDate.ToString("d/M/yyyy") <br /> @news.CreationDate.ToString("h:m:s tt")</td>
                        <td class="text-center">@news.AuthorName</td>
                        <td class="text-center">
                            <a asp-controller="News" asp-action="details" asp-route-id="@news.Id" class=" btn btn-sm btn-outline btn-outline-primary btn-active-light-primary">
                                <i class="bi bi-pencil-square"></i>
                                Details
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            datatable = $('table').DataTable({
                columnDefs: [
                    {
                        orderable: false,
                        targets: 4
                    },
                ],
                order: [[0, 'asc']],
            });
        });
    </script>
}

